
.carousel-inner img {
    width: 100%;
    height: 50%;
}

.carousel-inner {

    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.carousel-slide{
    height: 50%;
}
.bombom img{
    width: 150px;
    height: 150px;
    position: center;
}
.pix{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    font-size: 150%;
}
textarea{
    padding: 10px;
}
h1{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button img{
    width: 50px;
    height: 50px;
    border:0;
}
button{
    border:0;
    background-color:rgb(252, 235, 0);
    border-radius: 5px;
}
input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    box-shadow: 0 0 15px rgba(2, 4, 121, 0.6);
    border-radius: 10px;
}
.tarja {
    width: 100%;
    box-shadow: 0 0 10px #ccc;
    padding: 15px;
    color: #333;
    border-radius: 5px;
}

.tarja img {
    border-radius: 5px;
}
.container-fluid img{
    width: 200px;   
    text-align: center;
}

.navbar-brand img{
    text-align: center;
  
}
.navbar{
    background: -webkit-linear-gradient(left, #0099ff, #ff00d4);
    background: -moz-linear-gradient(left, #00ccff, #ff00f2);
    background: -ms-linear-gradient(left, #008cff, #ff00c8);
    background: -o-linear-gradient(left, #0077ff, #ff00ff);
    background: linear-gradient(to right, #008cff, #ff00d4);
}

footer{
    background: -webkit-linear-gradient(left, #0099ff, #ff00d4);
    background: -moz-linear-gradient(left, #00ccff, #ff00f2);
    background: -ms-linear-gradient(left, #008cff, #ff00c8);
    background: -o-linear-gradient(left, #0077ff, #ff00ff);
    background: linear-gradient(to right, #008cff, #ff00d4);
    margin-top: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    }

.p-3 {
    padding: 0!important;
}
.locais h1{
    padding-left: 20px;
}
li {
    width: auto;
    padding-left: 20px;
}